%article{ class: resource.html_class }
	%figure.preview
		= image_tag resource.data.preview.url, alt: resource.title

		%figcaption
			= render 'caption'

	= render resource.actions

	%header
		%p.number
			= resource.human_name
		%h1
			= resource.title

	= render 'description'
